@charset "utf-8";
/* CSS Document */
body{
   margin: 0px;
}

video {
   display: inline-block;
   vertical-align: baseline;
}
a {
   background: 0 0;
}
a:active, a:hover {
   outline: 0;
}
strong {
   font-weight: 700;
}
h1 {
   margin: .67em 0;
   font-size: 2em;
}
img {
   border: 0;
}
@media print {
   * {
      color: #000 !important;
      text-shadow: none !important;
      background: transparent !important;
      -webkit-box-shadow: none !important;
      box-shadow: none !important;
   }
   a, a:visited {
      text-decoration: underline;
   }
   a[href]:after {
      content: " ("attr(href) ")";
   }
   a[href^="#"]:after {
      content: "";
   }
   img {
      page-break-inside: avoid;
   }
   img {
      max-width: 100% !important;
   }
   p {
      orphans: 3;
      widows: 3;
   }
}
* {
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}
:before, :after {
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}
a {
   color: #428bca;
   text-decoration: none;
}
a:hover, a:focus {
   color: #2a6496;
   text-decoration: underline;
}
a:focus {
   outline: thin dotted;
   outline: 5px auto -webkit-focus-ring-color;
   outline-offset: -2px;
}
img {
   vertical-align: middle;
}
h1, .h1 {
   font-family: inherit;
   font-weight: 500;
   line-height: 1.1;
   color: inherit;
}
h1, .h1 {
   margin-top: 20px;
   margin-bottom: 10px;
}
h1, .h1 {
   font-size: 36px;
}
p {
   margin: 0 0 10px;
}
ul {
   margin-top: 0;
   margin-bottom: 10px;
}
img:not(.no-fix-width) {
   max-width: 100%;
}
h1 {
   font-size: 48px;
   text-align: center;
   font-family: Arial, Helvetica, sans-serif;
   text-transform: uppercase;
}
.faq h1 {
   font-size: 36px;
   color: #000;
   font-family: 'Lato', sans-serif;
}
h1 {
   text-transform: none;
}
@media (max-width:320px) {
   h1 {
      font-size: 40px;
   }
}
.sponsor-videos {
   padding-top: 120px;
   padding-bottom: 10px;
   margin-right: 11%;
   margin-left: 11%;
}
#uhc {
   margin-right: 1%;
}
#excellus {
   margin-left: 1%;
}
video {
   object-fit: cover;
   border-radius: 8px;
}
.big-video {
   max-width: 100%;
   margin-bottom: 10px;
}
.video-blocks {
   max-width: 49.5%;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
}
@media screen and (max-width: 767px) {
   .brand-3.mobile-logo.w-nav-brand {
      margin-left: 10px;
   }
}
@media screen and (max-width: 400px) {
   .brand-3.mobile-logo.w-nav-brand {
      width: 75px;
   }
}
.open-graph-image {
   display: none !important;
}
.div-block-2 {
   display: flex;
   position: relative;
}
.image-34, .image-12, .image-11, .w-inline-block {
   display: block;
   margin-right: 10px;
   margin-bottom: 10px;
   z-index: 101;
}
.image-8 {
   margin-top: 10px;
   margin-bottom: 30px;
}
.brand-3.mobile-logo.w-nav-brand {
   display: none;
}
.footer__bottom-2 {
   display: -webkit-box;
   display: -webkit-flex;
   display: -ms-flexbox;
   display: flex;
   width: auto;
   padding-top: 16px;
   padding-bottom: 16px;
   -webkit-box-pack: center;
   -webkit-justify-content: center;
   -ms-flex-pack: center;
   justify-content: center;
   -webkit-box-align: center;
   -webkit-align-items: center;
   -ms-flex-align: center;
   align-items: center;
}
.footer_section {
   position: relative;
   display: block;
   width: 100vw;
   max-width: 1200px;
   margin-right: auto;
   margin-left: auto;
   padding: 64px 0px;
}
.footer_section.section--footer-bottom {
   display: -webkit-box;
   display: -webkit-flex;
   display: -ms-flexbox;
   display: flex;
   width: 100vw;
   padding-top: 0px;
   padding-bottom: 0px;
   padding-left: 0px;
   -webkit-box-orient: vertical;
   -webkit-box-direction: normal;
   -webkit-flex-direction: column;
   -ms-flex-direction: column;
   flex-direction: column;
   -webkit-box-align: center;
   -webkit-align-items: center;
   -ms-flex-align: center;
   align-items: center;
}
.footer__bottom-text-2 {
   display: inline-block;
   max-width: 1200px;
   margin-bottom: 0px;
   color: #fff;
   font-size: 13px;
   line-height: 1.6em;
   text-align: left;
   text-decoration: none;
}
.footer__bottom-text-2.footer__bottom-text--link {
   position: absolute;
   left: auto;
   right: 0px;
   display: block;
   -webkit-transition: color 200ms ease;
   transition: color 200ms ease;
   text-align: right;
}
.footer__bottom-text-2.footer__bottom-text--link:hover {
   color: hsla(0, 0%, 100%, 0.8);
}
.footer__bottom-text-2.footer__bottom-text--link:active {
   color: rgba(0, 0, 0, 0.7);
}
.footer__bottom-text-2.footer__bottom-text--link {
   position: relative;
   right: 0%;
   display: block;
   -webkit-box-orient: horizontal;
   -webkit-box-direction: normal;
   -webkit-flex-direction: row;
   -ms-flex-direction: row;
   flex-direction: row;
   -webkit-box-pack: end;
   -webkit-justify-content: flex-end;
   -ms-flex-pack: end;
   justify-content: flex-end;
   -webkit-transition: color 200ms ease;
   transition: color 200ms ease;
   text-align: center;
}
.footer__bottom-text-2.footer__bottom-text--link:hover {
   color: hsla(0, 0%, 100%, 0.8);
}
.footer__bottom-text-2.footer__bottom-text--link:active {
   color: rgba(0, 0, 0, 0.7);
}
.html-embed-16 {
   position: absolute;
   object-fit: cover !important;
   width: auto;
   height: auto;
}
.faq h1 {
   margin-top: 0px !important;
   font-family: Lato, sans-serif !important;
   color: #4475b9 !important;
   font-size: 40px !important;
   line-height: 40px !important;
}
.top-bars {
   position: absolute;
   left: 0%;
   top: 0%;
   right: 0%;
   bottom: auto;
   height: 100%;
   background-image: url(/https://vepimg.b8cdn.com/uploads/vjfnew/3631/uploads/vjf/content/misc/162696889360be63e5d607b01c5be1c64b_top-bar.svg);
   background-position: 50% 0%;
   background-size: contain;
   background-repeat: no-repeat;
   z-index: 100;
}
.bottom-bars {
   position: absolute;
   left: 0%;
   top: auto;
   right: 0%;
   bottom: 0%;
   height: 100%;
   background-image: url(https://vepimg.b8cdn.com/uploads/vjfnew/3631/uploads/vjf/content/misc/162696892960be6419bb133b94b2dd88ee_blue-curve-bottom.svg);
   background-position: 50% 100%;
   background-size: contain;
   background-repeat: no-repeat;
   z-index: 100;
}
a {
   text-decoration: none;
}
a:hover {
   text-decoration: none;
}
.div-block-986 {
   display: -webkit-box;
   display: -webkit-flex;
   display: -ms-flexbox;
   display: flex;
   min-width: 60%;
   -webkit-box-orient: horizontal;
   -webkit-box-direction: normal;
   -webkit-flex-direction: row;
   -ms-flex-direction: row;
   flex-direction: row;
   -webkit-box-pack: end;
   -webkit-justify-content: flex-end;
   -ms-flex-pack: end;
   justify-content: flex-end;
   -webkit-box-align: center;
   -webkit-align-items: center;
   -ms-flex-align: center;
   align-items: center;
}
.div-block-986.exponav {
   -webkit-align-self: center;
   -ms-flex-item-align: center;
   -ms-grid-row-align: center;
   align-self: center;
}
.swoosh {
   margin-top: 40px;
   margin-bottom: -80px;
}
.faq {
   padding-top: 100px;
   padding-bottom: 100px;
}
.faq-section-div {
   margin-right: 11%;
   margin-left: 11%;
}
.cv-icon {
   position: relative;
   display: block;
   width: 50px;
   height: 50px;
   background-image: url('/https://vepimg.b8cdn.com/uploads/vjfnew/3631/uploads/vjf/content/misc/1626969184cv-icon.svg');
   background-position: 0px 0px;
   background-size: cover;
   margin-right: 15px;
   margin-left: 15px;
}
.footers {
   padding-top: 60px !important;
   padding-bottom: 60px !important;
   background-color: #1e2846;
   background-image: -webkit-gradient(linear, left top, left bottom, from(#171f35), color-stop(3%, #1f2947), to(#334876));
   background-image: linear-gradient(180deg, #171f35, #1f2947 3%, #334876);
}
.footer-container {
   display: -webkit-box !important;
   display: -webkit-flex !important;
   display: -ms-flexbox !important;
   display: flex !important;
   -webkit-box-pack: justify !important;
   -webkit-justify-content: center !important;
   -ms-flex-pack: justify !important;
   justify-content: center !important;
}
.buttonz {
   border-radius: 0px !important;
   padding: 20px 10px;
   color: #fff !important;
   font-weight: 700 !important;
   background-color: transparent !important;
   width: 150px;
   text-align: center;
}
.navigation-left {
   position: static;
   display: -webkit-box;
   display: -webkit-flex;
   display: -ms-flexbox;
   display: flex;
   overflow: visible;
   width: auto;
   max-width: 250px;
   clear: none;
   -webkit-box-pack: start;
   -webkit-justify-content: flex-start;
   -ms-flex-pack: start;
   justify-content: flex-start;
   -webkit-box-align: center;
   -webkit-align-items: center;
   -ms-flex-align: center;
   align-items: center;
   -webkit-align-self: auto;
   -ms-flex-item-align: auto;
   align-self: auto;
   background-color: transparent;
   -o-object-fit: fill;
   object-fit: fill;
}
.body_button {
   position: relative;
   left: 3%;
   top: auto;
   right: 5%;
   bottom: 5%;
   display: inline-block;
   margin-top: 30px;
   padding: 10px 30px;
   -webkit-align-self: auto;
   -ms-flex-item-align: auto;
   -ms-grid-row-align: auto;
   align-self: auto;
   -webkit-box-flex: 0;
   -webkit-flex: 0 auto;
   -ms-flex: 0 auto;
   flex: 0 auto;
   border-radius: 100px;
   background-color: #2ac4f3;
   background-image: linear-gradient(70deg, #4475b9, #2ac4f3);
   font-family: Lato, sans-serif;
   color: #fff;
   font-size: 16px;
   font-weight: 700;
}
.body_button.whiter {
   position: relative;
   left: 0% !important;
   top: auto;
   right: 5%;
   bottom: 5%;
   display: inline-block;
   margin-top: 30px;
   padding: 10px 30px;
   -webkit-align-self: auto;
   -ms-flex-item-align: auto;
   -ms-grid-row-align: auto;
   align-self: auto;
   -webkit-box-flex: 0;
   -webkit-flex: 0 auto;
   -ms-flex: 0 auto;
   flex: 0 auto;
   border-radius: 100px;
   border: 1px #d1d1d1 solid !important;
   background: #fff !important;
   font-family: Lato, sans-serif;
   color: #4475b9;
   font-size: 16px;
   font-weight: 700;
   z-index: 101;
   text-align: center;
}
.body_button.nav-button.nav-selection {
   left: 0% !important;
   padding-right: 10px;
   padding-left: 10px;
   background-color: transparent;
   background-image: none;
   color: #4575ba;
   border: none !important;
}
.body_button.nav-button {
   margin-top: 0px;
   left: 0% !important;
   border-style: solid;
   border-width: 1px;
   border-color: #4575ba;
   background-color: transparent;
   background-image: none;
   color: #4575ba;
}
.navigation {
   position: -webkit-sticky;
   position: sticky;
   left: 0%;
   top: 0%;
   right: 0%;
   bottom: auto;
   z-index: 1000;
   display: -webkit-box;
   display: -webkit-flex;
   display: -ms-flexbox;
   display: flex;
   width: 100%;
   height: 15vh;
   max-height: 90px;
   padding: 10px 2em;
   -webkit-box-orient: vertical;
   -webkit-box-direction: normal;
   -webkit-flex-direction: column;
   -ms-flex-direction: column;
   flex-direction: column;
   -webkit-box-align: center;
   -webkit-align-items: center;
   -ms-flex-align: center;
   align-items: center;
   background-color: #fff;
   box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.25);
   z-index: 100000000000;
}
.navigation.exponav {
   height: 90px;
}
.navigation-container {
   display: -webkit-box;
   display: -webkit-flex;
   display: -ms-flexbox;
   display: flex;
   width: 100%;
   height: 100%;
   padding-right: 1em;
   padding-left: 1em;
   -webkit-box-pack: justify;
   -webkit-justify-content: space-between;
   -ms-flex-pack: justify;
   justify-content: space-between;
   -webkit-box-align: center;
   -webkit-align-items: center;
   -ms-flex-align: center;
   align-items: center;
}
.brand-3.hw-logo {
   max-height: 70px;
   margin-left: -20px;
}
.hero-4 {
   position: relative;
   display: -webkit-box;
   display: -webkit-flex;
   display: -ms-flexbox;
   display: flex;
   overflow: hidden;
   padding-top: 100px;
   padding-bottom: 100px;
   -webkit-box-align: center;
   -webkit-align-items: center;
   -ms-flex-align: center;
   align-items: center;
   background-image: url('/https://vepimg.b8cdn.com/uploads/vjfnew/3631/uploads/vjf/content/misc/162696931460b93b004f128b964fc0692e_Header-Background-noimage-TREVOR-011.jpg');
   background-position: 50% 33%;
   background-size: cover;
   background-repeat: no-repeat;
}
.hero-4.hero-expo {
   height: auto;
   min-height: 85vh;
   -webkit-box-orient: horizontal;
   -webkit-box-direction: normal;
   -webkit-flex-direction: row;
   -ms-flex-direction: row;
   flex-direction: row;
   background-color: #4475b8;
   background-image: url('/https://vepimg.b8cdn.com/uploads/vjfnew/3631/uploads/vjf/content/misc/162696899860b93b004f128b964fc0692e_Header-Background-noimage-TREVOR-01.jpg');
   background-position: 50% 0%;
}
.text-span-9 {
   width: 100%;
   margin-bottom: 10px;
}
.text-span-9._50 {
   width: 75%;
   color: #edfaff;
   text-shadow: none;
}
.text-span-9._50.expo {
   color: #5b6670;
}
.bold-text-35 {
   color: #fff;
}
.hero-div-holder {
   display: -webkit-box;
   display: -webkit-flex;
   display: -ms-flexbox;
   display: flex;
   width: 75%;
   -webkit-box-orient: vertical;
   -webkit-box-direction: normal;
   -webkit-flex-direction: column;
   -ms-flex-direction: column;
   flex-direction: column;
   -webkit-box-pack: justify;
   -webkit-justify-content: space-between;
   -ms-flex-pack: justify;
   justify-content: space-between;
   -webkit-box-align: start;
   -webkit-align-items: flex-start;
   -ms-flex-align: start;
   align-items: flex-start;
}
.hero-div-holder._60pct {
   width: 100%;
}
.blue_line {
   width: 8%;
   height: 7px;
   margin-top: 15px;
   margin-bottom: 30px;
   background-color: #4375b9;
}
.blue_line.teal {
   width: 60px;
   height: 8px;
   max-width: 60px;
   margin-top: 15px;
   margin-bottom: 30px;
   padding-left: 0px;
   background-color: #2ac4f3;
   text-align: left;
   position: relative;
}
.h1 {
   display: -webkit-box;
   display: -webkit-flex;
   display: -ms-flexbox;
   display: flex;
   margin-top: 0px;
   margin-bottom: 0px;
   padding-right: 0px;
   padding-left: 0px;
   color: #fff;
   font-size: 2rem;
   line-height: 2.2rem;
   font-weight: 700;
   text-align: left;
   letter-spacing: -1px;
}
.subheader {
   position: relative;
   color: #fff;
   font-size: 16px;
   line-height: 26px;
   text-align: left;
}
.bold-text-7 {
   position: relative;
   font-size: 40px;
   line-height: 50px;
   font-weight: 700;
}
.image-218 {
   position: relative;
   left: auto;
   top: 0%;
   right: 0%;
   bottom: 0%;
   z-index: 20;
   margin-right: 60px;
}
.content-holder {
   width: 50%;
   margin-right: 0%;
   margin-left: 10%;
   -webkit-align-self: center;
   -ms-flex-item-align: center;
   -ms-grid-row-align: center;
   align-self: center;
   -webkit-box-flex: 0;
   -webkit-flex: 0 0 auto;
   -ms-flex: 0 0 auto;
   flex: 0 0 auto;
}
.content-holder.home {
   width: auto;
   margin-right: 10%;
   margin-left: 10%;
   -webkit-align-self: flex-start;
   -ms-flex-item-align: start;
   align-self: flex-start;
   -webkit-box-flex: 0;
   -webkit-flex: 0 0 auto;
   -ms-flex: 0 0 auto;
   flex: 0 0 auto;
   text-align: left;
}
.image-25 {
   display: block;
   margin-top: 0px;
   margin-right: 0px;
   padding-bottom: 0px;
}
.gallery-thumbnail {
   width: 100%;
   height: 100%;
   border-radius: 8px;
   -o-object-fit: cover;
   object-fit: cover;
   -o-object-position: 50% 50%;
   object-position: 50% 50%;
   box-shadow: 1px 1px 3px 0 rgb(0 0 0 / 6%), 0 0 20px 0 rgb(0 0 0 / 9%);
}
.gallery-lightbox {
   position: relative;
   overflow: hidden;
   border: 1px none #000;
   border-radius: 8px;
   background-color: #fff;
   box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.06), 0 0 20px 0 rgba(0, 0, 0, 0.09);
}
.list-5 {
   font-family: Lato, sans-serif;
   color: #5b6670;
   font-size: 18px;
   line-height: 24px;
}
.section-body-div {
   display: -webkit-box;
   display: -webkit-flex;
   display: -ms-flexbox;
   display: flex;
   margin-right: 11%;
   margin-left: 11%;
   -webkit-box-align: center;
   -webkit-align-items: center;
   -ms-flex-align: center;
   align-items: center;
}
.section-body-div.hiw {
   padding: 60px 40px 50px;
   -webkit-box-orient: vertical;
   -webkit-box-direction: normal;
   -webkit-flex-direction: column;
   -ms-flex-direction: column;
   flex-direction: column;
   -webkit-box-pack: justify;
   -webkit-justify-content: space-between;
   -ms-flex-pack: justify;
   justify-content: space-between;
   -webkit-box-align: stretch;
   -webkit-align-items: stretch;
   -ms-flex-align: stretch;
   align-items: stretch;
   border-top: 1px none #e6ebee;
   border-radius: 12px;
   background-color: #fff;
   box-shadow: 1px 1px 3px 0 rgb(0 0 0 / 6%), 0 0 20px 0 rgb(0 0 0 / 9%);
}
.body-paragraphy {
   margin-bottom: 10px;
   color: #5b6670;
   font-size: 18px;
   line-height: 24px;
}
.centered-container {
   -webkit-box-flex: 1;
   -webkit-flex: 1;
   -ms-flex: 1;
   flex: 1;
   text-align: center;
}
.list-item-18 {
   margin-bottom: 10px;
}
.blue2 {
   color: #4475b9;
}
.gallery-grid-container {
   display: -ms-grid;
   display: grid;
   margin-top: 0px;
   -ms-grid-row-align: center;
   align-self: center;
   grid-auto-columns: 1fr;
   grid-column-gap: 10px;
   grid-row-gap: 10px;
   grid-template-areas: ".";
   -ms-grid-columns: 1fr 10px 1fr 10px 1fr 10px 1fr;
   grid-template-columns: 1fr 1fr 1fr 1fr;
   -ms-grid-rows: auto 10px auto;
   grid-template-rows: auto auto;
}
.grey_heading {
   margin-top: 0px;
   font-family: Lato, sans-serif;
   color: #4475b9;
   font-size: 40px;
   line-height: 40px;
}
.expo_section {
   position: relative;
   z-index: 1;
   padding-top: 100px;
   padding-bottom: 0px;
   background-color: #fff;
}
.expo_section.div {
   width: 38%;
   padding-top: 0px;
   padding-right: 60px;
   padding-bottom: 40px;
   background-color: transparent;
   text-align: left;
}
.name-position {
   position: relative;
   min-height: 2px;
   margin-bottom: 5px;
   color: #4475b9;
   font-size: 24px;
   line-height: 22px;
   font-weight: 800;
   text-align: center;
}
.inner-div {
   display: -webkit-box;
   display: -webkit-flex;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-orient: vertical;
   -webkit-box-direction: normal;
   -webkit-flex-direction: column;
   -ms-flex-direction: column;
   flex-direction: column;
   border-radius: 8px;
   background-color: #fff;
   text-align: center;
}
.testimonial-text-2 {
   margin-top: 7px;
   color: #56697e;
   font-size: 16px;
   line-height: 21px;
   font-style: normal;
   font-weight: 300;
   text-align: left;
}
.testimonial-text-2.expo-para {
   font-weight: 400;
   text-align: center;
}
.title-2 {
   font-size: 14px;
   text-align: left;
}
.title-2.expo-title {
   text-align: center;
}
.testimonial-text-div {
   position: relative;
   z-index: 10;
   width: 100%;
   padding: 29px;
   border-radius: 8px;
   background-color: transparent;
   text-align: center;
}
.testimonials {
   padding-top: 120px;
   padding-bottom: 120px;
   border-top: 1px solid rgba(52, 66, 104, 0.07);
   border-bottom: 1px none #dddbdb;
   background-color: #fafbfc;
}
.holder-testimonials {
   display: -webkit-box;
   display: -webkit-flex;
   display: -ms-flexbox;
   display: flex;
   margin-top: -150px;
   margin-right: 10%;
   margin-left: 10%;
   -webkit-box-pack: justify;
   -webkit-justify-content: space-between;
   -ms-flex-pack: justify;
   justify-content: space-between;
}
.holder-testimonials.actual-holder {
   margin-top: 0px;
}
.img-div {
   width: 40%;
   border-top-left-radius: 3px;
   border-bottom-left-radius: 3px;
   background-image: url('/https://vepcss.b8cdn.com/images/bike-img.jpg');
   background-position: 0px 0px;
   background-size: cover;
   background-repeat: no-repeat;
}
.img-div._1 {
   width: 100px;
   height: 100px;
   margin-right: auto;
   margin-bottom: 25px;
   margin-left: auto;
   border-radius: 0px;
   background-image: none;
   text-align: left;
}
.img-div._1.dwayne {
   background-image: url('/https://vepimg.b8cdn.com/uploads/vjfnew/3631/uploads/vjf/content/misc/162696945260b93af4973f10d1c4066549_dwane-mcferrin.jpg');
   background-position: 50% 50%;
   background-size: contain;
}
.img-div._1.excelus {
   position: relative;
   margin-left: auto;
   border: 1px none #000;
   border-radius: 0px;
   background-image: url('/https://vepcss.b8cdn.com/images/shuttle.svg');
   background-position: 0px 0px;
   background-size: contain;
   background-repeat: no-repeat;
}
.img-div._3 {
   width: 100px;
   height: 100px;
   margin-right: auto;
   margin-bottom: 25px;
   margin-left: auto;
   border-radius: 200px;
   background-image: url('/https://vepcss.b8cdn.com/images/10.svg');
   background-position: 50% 50%;
   background-size: cover;
}
.img-div._3.humana {
   background-image: url('/https://vepimg.b8cdn.com/uploads/vjfnew/3631/uploads/vjf/content/misc/162696949860b93af4973f10423e066547_humana.png');
}
.testimonial-div-box {
   position: relative;
   z-index: 12;
   display: block;
   overflow: visible;
   width: 50%;
   margin-top: 0px;
   margin-right: 10px;
   margin-left: 10px;
   padding: 0px;
   -webkit-box-pack: start;
   -webkit-justify-content: flex-start;
   -ms-flex-pack: start;
   justify-content: flex-start;
   border-radius: 8px;
   background-color: #fff;
   box-shadow: 1px 0 3px 0 rgba(0, 0, 0, 0.06), 0 0 20px 0 rgba(0, 0, 0, 0.09);
   text-align: left;
}
.div-block-1056 {
   height: 15px;
   background-image: linear-gradient(135deg, #2ac4f3, #4475b9);
}
.div-block-1056.reverse {
   background-image: linear-gradient(135deg, #4475b9, #2ac4f3);
}
.event-sponsors {
   padding-top: 120px;
   padding-bottom: 120px;
   background-image: linear-gradient(135deg, rgba(38, 52, 110), rgba(51, 91, 149)), url('/https://uploads-ssl.webflow.com/60b93ab81026ad43b4%C3%A2%E2%82%AC%C2%A664fc0692e_Header-Background-noimage-TREVOR-01.jpg') !important;
   background-position: 0px 0px, 50% 50%;
   background-size: cover, cover;
   background-repeat: repeat, no-repeat;
}
.featured-in-logos {
   display: -webkit-box;
   display: -webkit-flex;
   display: -ms-flexbox;
   display: flex;
   width: 100%;
   margin-right: auto;
   margin-left: auto;
   -webkit-box-orient: horizontal;
   -webkit-box-direction: normal;
   -webkit-flex-direction: row;
   -ms-flex-direction: row;
   flex-direction: row;
   -webkit-justify-content: space-around;
   -ms-flex-pack: distribute;
   justify-content: space-around;
   -webkit-box-align: center;
   -webkit-align-items: center;
   -ms-flex-align: center;
   align-items: center;
}
@media screen and (max-width: 1440px) {
   .brand-3 {
      display: block;
   }
   .brand-3.hw-logo {
      display: none;
   }
   .brand-3.mobile-logo.w-nav-brand {
      max-height: 70px !important;
      display: block !important;
   }
}
@media screen and (max-width: 1280px) {
   .div-block-986 {
      min-width: 50%;
   }
   .brand-3.mobile-logo.w-nav-brand {
      max-height: 70px !important;
      display: block !important;
   }
   .blue_line.teal {
      width: 60px;
      background-color: #2ac4f3;
   }
}
@media screen and (min-width: 1440px) {
   .flowbase-logo {
      width: auto;
      max-width: 200px;
      min-width: 200px;
   }
   .brand-3.hw-logo {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
   }
   .subheader {
      color: #fff;
      line-height: 30px;
      text-align: left;
   }
   .image-25 {
      margin-top: -1px;
      padding-top: 0px;
   }
}
@media screen and (min-width: 1920px) {
   .div-block-986 {
      min-width: 33%;
   }
   .navigation {
      padding-right: 2em;
      padding-left: 2em;
   }
   .flowbase-logo {
      max-width: 275px;
      min-width: 250px;
   }
   .navigation-container {
      max-width: none;
      margin-left: 0px;
   }
   .brand-3.hw-logo {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
   }
   .blue_line.teal {
      width: 60px;
      height: 8px;
   }
   .subheader {
      font-size: 20px;
      line-height: 32px;
   }
   .bold-text-7 {
      font-size: 56px;
      line-height: 60px;
   }
   .image-25 {
      margin-top: -1px;
   }
   .inner-div {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      height: 100%;
   }
   .testimonial-text-div {
      height: 100%;
   }
   .testimonial-div-box {
      width: 75%;
   }
}
@media screen and (max-width: 991px) {
   .div-block-986 {
      min-width: 70%;
   }
   .image-218 {
      max-width: 300px !important;
   }
   .image-25.expos {
      display: none;
   }
   .navigation-left {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      overflow: visible;
      margin-left: 0px;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -webkit-align-self: center;
      -ms-flex-item-align: center;
      align-self: center;
      -webkit-box-flex: 0;
      -webkit-flex: 0 auto;
      -ms-flex: 0 auto;
      flex: 0 auto;
   }
   .navigation {
      position: -webkit-sticky;
      position: sticky;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      grid-auto-columns: 1fr;
      -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
      -ms-grid-rows: auto auto;
      grid-template-rows: auto auto;
   }
   .flowbase-logo {
      max-width: 150px;
   }
   .navigation-container {
      max-width: none;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
      justify-content: space-between;
      background-color: #fff;
   }
   .brand-3 {
      margin-right: 20px;
   }
   .brand-3.hw-logo {
      display: none;
   }
   .hero-4 {
      height: auto;
      padding-top: 120px;
      padding-right: 40px;
      padding-bottom: 70px;
   }
   .text-span-9 {
      font-size: 16px;
   }
   .hero-div-holder {
      margin-right: 8%;
      margin-left: 8%;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: start;
      -webkit-align-items: flex-start;
      -ms-flex-align: start;
      align-items: flex-start;
   }
   .blue_line.teal {
      width: 60px;
   }
   .h1 {
      padding-right: 0px;
      font-size: 30px;
      line-height: 34px;
   }
   .subheader {
      font-size: 16px;
      line-height: 26px;
   }
   .content-holder {
      width: 100%;
      margin-left: 0%;
   }
   .content-holder.home {
      margin-right: 2%;
      margin-left: 2%;
   }
   .image-25 {
      margin-top: 0px;
   }
   .section-body-div {
      margin-right: 8%;
      margin-left: 8%;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
   }
   .section-body-div.hiw {
      margin-right: 6%;
      margin-left: 6%;
      padding-top: 90px;
      padding-bottom: 20px;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
   }
   .body-paragraphy {
      font-size: 18px;
      line-height: 23px;
   }
   .gallery-grid-container {
      -webkit-align-self: stretch;
      -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
   }
   .expo_section {
      padding-bottom: 0px;
   }
   .expo_section.div {
      width: 100%;
      margin-bottom: 10px;
      padding-right: 0px;
   }
   .inner-div {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
   }
   .testimonial-text-div {
      width: 100%;
      padding-top: 40px;
      padding-bottom: 40px;
   }
   .holder-testimonials {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
   }
   .testimonial-div-box {
      width: 100%;
      margin-top: 20px;
      padding-bottom: 0px;
   }
   .featured-in-logos {
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
   }
}
@media screen and (max-width: 767px) {
   .div-block-986 {
      position: relative;
      min-width: 75%;
   }
   .brand-3.mobile-logo.w-nav-brand {
      display: block !important;
      max-height: 50px;
   }
   .centered-container {
      margin-bottom: 30px !important;
   }
   .flowbase-logo {
      width: 100px !important;
   }
   .image-218 {
      display: none;
   }
   .navigation-left {
      width: auto;
      -webkit-box-pack: start;
      -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
      justify-content: flex-start;
      -webkit-align-content: center;
      -ms-flex-line-pack: center;
      align-content: center;
   }
   .navigation {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      padding-right: 2em;
      padding-left: 1em;
   }
   .navigation-container {
      padding-right: 0em;
      padding-left: 0em;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
      justify-content: space-between;
   }
   .brand-3 {
      display: none;
      margin-right: 0px;
      padding-left: 0px;
   }
   .hero-4 {
      padding-right: 0px;
   }
   .text-span-9 {
      width: 75%;
   }
   .hero-div-holder {
      margin-right: 7%;
      margin-left: 7%;
   }
   .h1 {
      margin-bottom: 10px;
      font-size: 2rem;
      line-height: 2.2rem;
   }
   .subheader {
      display: block;
   }
   .content-holder.home {
      width: 100%;
   }
   .image-25 {
      display: none;
      margin-top: -5px;
   }
   .image-25.expos {
      display: none;
   }
   .gallery-thumbnail {
      display: block;
   }
   .section-body-div {
      margin-right: 6%;
      margin-left: 6%;
   }
   .section-body-div.hiw {
      padding-top: 80px;
      padding-bottom: 0px;
   }
   .gallery-grid-container {
      max-width: none;
      -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
      -ms-grid-rows: auto auto auto auto;
      grid-template-rows: auto auto auto auto;
   }
   .testimonial-text-div {
      width: auto;
   }
   .testimonials {
      padding-top: 80px;
      padding-bottom: 80px;
   }
   .holder-testimonials {
      margin-right: 5%;
      margin-left: 5%;
   }
}
@media screen and (max-width: 479px) {
   .div-block-986 {
      min-width: 40%;
   }
   .image-218 {
      display: none;
   }
   .navigation-left {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      width: auto;
      margin-left: 0px;
      -webkit-box-pack: start;
      -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
      justify-content: flex-start;
      -webkit-align-self: center;
      -ms-flex-item-align: center;
      align-self: center;
   }
   .navigation {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      padding-right: 1em;
      padding-left: 1em;
      box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.34);
   }
   .navigation-container {
      overflow: visible;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
   }
   .brand-3 {
      display: none;
   }
   .hero-4 {
      padding-top: 110px;
      padding-bottom: 79px;
   }
   .text-span-9 {
      display: block;
      padding-left: 0px;
   }
   .text-span-9._50 {
      display: inline;
      width: auto;
      margin-bottom: 0px;
      padding-left: 0px;
   }
   .hero-div-holder {
      margin-right: 7%;
      margin-left: 7%;
   }
   .h1 {
      width: 100%;
      padding-left: 0px;
      font-size: 2rem;
      line-height: 2.2rem;
      letter-spacing: 0px;
   }
   .bold-text-7 {
      width: 100%;
      font-size: 35px;
      line-height: 45px;
   }
   .content-holder.home {
      margin-right: 1%;
      margin-left: 1%;
   }
   .image-25 {
      margin-top: -5px;
   }
   .image-25.expos {
      margin-top: 20px;
      -webkit-transform: scale(10);
      -ms-transform: scale(10);
      transform: scale(10);
   }
   .section-body-div {
      margin-right: 8%;
      margin-left: 8%;
   }
   .section-body-div.hiw {
      margin-right: 7%;
      margin-left: 7%;
      padding-top: 60px;
   }
   .body-paragraphy {
      margin-right: 0px;
      margin-left: 0px;
   }
   .centered-container {
      text-align: left;
   }
   .gallery-grid-container {
      margin-right: 0px;
      margin-left: 0px;
      -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
      -ms-grid-rows: auto auto auto auto auto;
      grid-template-rows: auto auto auto auto auto;
   }
   .expo_section {
      padding-bottom: 80px;
   }
   .expo_section.div {
      padding-bottom: 40px;
   }
   .inner-div {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
   }
   .testimonial-text-div {
      width: 100%;
      padding-right: 10px;
      padding-left: 10px;
   }
   .img-div._1 {
      width: 100px;
   }
   .img-div._3 {
      width: 100px;
   }
   .testimonial-div-box {
      margin-left: 0px;
      padding-top: 20px;
      padding-bottom: 0px;
   }
   .featured-in-logos {
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-align-content: flex-end;
      -ms-flex-line-pack: end;
      align-content: flex-end;
   }
   .div-block-2 {
      -webkit-box-pack: start;
      -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
      justify-content: flex-start;
   }
   .image-34 {
      display: block;
   }
   .image-11 {
      display: block;
   }
   .image-8 {
      display: block;
   }
}
@media screen and (max-width: 300px) {
   .brand-3.mobile-logo.w-nav-brand {
      display: none;
   }
}
@media screen and (max-width: 479px) {
   .div-block-986 {
      min-width: 40%;
   }
   .brand-3.mobile-logo.w-nav-brand {
      display: block !important;
      max-height: 50px;
   }
   .navigation-left {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      width: auto;
      margin-left: 0px;
      -webkit-box-pack: start;
      -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
      justify-content: flex-start;
      -webkit-align-self: center;
      -ms-flex-item-align: center;
      align-self: center;
   }
   .navigation {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      padding-right: 1em;
      padding-left: 1em;
      box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.34);
   }
   .navigation-container {
      overflow: visible;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
   }
   .brand-3 {
      display: none;
   }
   .hero-4 {
      padding-top: 110px;
      padding-bottom: 79px;
   }
   .text-span-9 {
      display: block;
      padding-left: 0px;
   }
   .text-span-9._50 {
      display: inline;
      width: auto;
      margin-bottom: 0px;
      padding-left: 0px;
   }
   .hero-div-holder {
      margin-right: 7%;
      margin-left: 7%;
   }
   .h1 {
      width: 100%;
      padding-left: 0px;
      font-size: 2rem;
      line-height: 2.2rem;
      letter-spacing: 0px;
   }
   .bold-text-7 {
      width: 100%;
      font-size: 35px;
      line-height: 45px;
   }
   .content-holder.home {
      margin-right: 1%;
      margin-left: 1%;
   }
   .image-25 {
      margin-top: -5px;
   }
   .image-25.expos {
      display: none;
   }
   .section-body-div {
      margin-right: 8%;
      margin-left: 8%;
   }
   .section-body-div.hiw {
      margin-right: 7%;
      margin-left: 7%;
      padding-top: 60px;
   }
   .body-paragraphy {
      margin-right: 0px;
      margin-left: 0px;
   }
   .centered-container {
      text-align: left;
   }
   .gallery-grid-container {
      margin-right: 0px;
      margin-left: 0px;
      -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
      -ms-grid-rows: auto auto auto auto auto;
      grid-template-rows: auto auto auto auto auto;
   }
   .expo_section {
      padding-bottom: 80px;
   }
   .expo_section.div {
      padding-bottom: 40px;
   }
   .inner-div {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
   }
   .testimonial-text-div {
      width: 100%;
      padding-right: 10px;
      padding-left: 10px;
   }
   .img-div._1 {
      width: 100px;
   }
   .img-div._3 {
      width: 100px;
   }
   .testimonial-div-box {
      margin-left: 0px;
      padding-top: 20px;
      padding-bottom: 0px;
   }
   .featured-in-logos {
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-align-content: flex-end;
      -ms-flex-line-pack: end;
      align-content: flex-end;
   }
}
#w-node-_4f2c1585-1387-895d-e4f7-71e957ff0e7f-3d75705e {
   -ms-grid-row: span 2;
   grid-row-start: span 2;
   -ms-grid-row-span: 2;
   grid-row-end: span 2;
   -ms-grid-column: span 2;
   grid-column-start: span 2;
   -ms-grid-column-span: 2;
   grid-column-end: span 2;
}
@media screen and (max-width: 479px) {
   #w-node-_4f2c1585-1387-895d-e4f7-71e957ff0e7f-3d75705e {
      -ms-grid-row: span 1;
      grid-row-start: span 1;
      -ms-grid-row-span: 1;
      grid-row-end: span 1;
      -ms-grid-column: span 1;
      grid-column-start: span 1;
      -ms-grid-column-span: 1;
      grid-column-end: span 1;
   }
}
